<br>
<div class="Title">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
</div>
 <div class="jumbotron">
   <p>Create and share Markdown Wikis</p>
   <p>
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
   </p>
 </div>
 <div class="row">
   <div class="col-md-4">
     <h2>Create as mang public wikis as you want!</h2>
     <p>Free Plan</p>
   </div>
   <div class="col-md-4">
     <h2>Create private wikis!</h2>
     <p>Premium Plan</p>
   </div>
 </div>
