<% if @wiki.user_id == current_user.id || current_user.admin? %>
		<div class="form-group">
			<% @users.each do |user| %>
				<h4><%= user.email %> </h4>
				<% if @wiki.collaboration_users.include? user %>
					<div>
					<%= link_to "Remove Collaborator", wiki_collaboration_path(@wiki, @wiki.collaborations.find_by_user_id(user.id).id), method: :delete, class: 'btn btn-danger' %>
				  </div>
				<% else %>
					<div>
					<%= link_to "Add Collaborator", wiki_collaborations_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-info' %>
					</div>
				<% end %>
			<% end %>
		</div>
<% end %>
